*, *:after, *:before {
    transition: opacity 0.2s, color 0.2s, background 0.2s;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    -webkit-animation: spinning 0.2s * 5 infinite linear;
    animation: spinning 0.2s * 5 infinite linear;
}
