/* Specific rules for languages */

body {
    ul.checked li {
        @include BIDIR_VALUE(background-position, left, right);
        @include BIDIR_PROP(padding-left, padding-right, 35px);
    }
    .app-store-badge, .google-play-badge {
        background-repeat: no-repeat;
        width: 135px;
        height: 40px;
        display: inline-block;
    }
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_en.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_en.svg');
    }
}

body.DE, body.FR, body.IT, body.PT, body.RU {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

body.DE {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_de.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_de.svg');
    }
}

body.ES {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_es.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_es.svg');
    }
}

/*French Language */
body.FR {
    #header .account-type {
        font-size: 85%;
    }
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_fr.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_fr.svg');
    }
}

/*Indonesian Language */
body.ID {
    #regulatory-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .id-hide {
        display: none !important;
    }
    #language_select {
        display: none;
    }
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_id.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_id.svg');
    }
}

body.IT {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_it.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_it.svg');
    }
}

body.PT {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_pt.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_pt.svg');
    }
}

body.PL {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_pl.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_pl.svg');
    }
}

body.RU {
    #header .account-type {
        font-size: 90%;
    }
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_ru.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_ru.svg');
    }
}

body.TH {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_th.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_th.svg');
    }
}

body.VI {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_vi.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_vi.svg');
    }
}

body.ZH_CN {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_zh_cn.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_zh_cn.svg');
    }
}

body.ZH_TW {
    .app-store-badge {
        background-image: url('../images/pages/applications/appstore_zh_tw.svg');
    }
    .google-play-badge {
        background-image: url('../images/pages/applications/googleplay_zh_tw.svg');
    }
}
