/* Specific rules for languages */

body {
    ul.checked li {
        @include BIDIR_VALUE(background-position, left, right);
        @include BIDIR_PROP(padding-left, padding-right, 35px);
    }
}

/*French Language */
body.FR {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

/*Indonesian Language */
body.ID {
    #regulatory-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .id-hide {
        display: none !important;
    }
    #language_select {
        display: none;
    }
}

body.IT, body.DE {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}

body.PT, body.RU {
    a, button, .button, span, input {
        text-transform: initial !important;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: initial !important;
    }
}
