/* GLOBAL RULES */

/*
 * To simplify usage of a property
 * with different values for LTR and RTL languages
 * sample usage: @include BIDIR_VALUE(float, left, right);
 */
@mixin BIDIR_VALUE($prop, $ltr_value, $rtl_value) {
  #{$prop}: if($IS_LTR, $ltr_value, $rtl_value);
}

/*
 * To simplify usage of different properties
 * with the same value for LTR and RTL languages
 * sample usage: @include BIDIR_PROP(margin-left, margin-right, 5px);
 */
@mixin BIDIR_PROP($ltr_prop, $rtl_prop, $value) {
  @if $IS_LTR {
    #{$ltr_prop}: $value;
  }
  @else {
    #{$rtl_prop}: $value;
  }
}

@mixin link-button {
  color: $COLOR_WHITE;
  text-decoration: none;
  text-align: center;
  line-height:100%;
  background: $COLOR_GREEN;
  border-radius: $BORDER_RADIUS;
  text-transform: capitalize;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  letter-spacing: 0.75px;
  &:visited {
    color: $COLOR_WHITE;
  }
  &:hover, &:active {
    text-decoration: none;
    background-color: #14602B;
  }
}

@mixin tab-list {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    background: none;
    border-bottom: 1px solid $COLOR_DARK_GRAY;
    li {
      border: none;
      list-style-image: none;
      background: $COLOR_LIGHT_GRAY;
      border-radius: 4px 4px 0 0;
      @include BIDIR_VALUE(margin, 0 6px 0 0, 0 0 0 6px);
      padding: 0 10px;
      a, a:visited {
        padding: 0;
        font-weight: normal;
        text-decoration: none;
        color: $COLOR_BLACK;
        font-size: 90%;
        background: transparent;
      }
    }
    li.active {
      background: $COLOR_BLUE;
      color: $COLOR_WHITE;
      a {
        background: none;
        color: $COLOR_WHITE;
        font-weight: normal;
        text-decoration: none;
        padding: 0;
        outline: none;
      }
      span.a-active {
          line-height: 2;
      }
    }
}
