.home-content {
    #banner {
        background: url('../images/pages/home/banner-background_1.png') 0 0/100% 70% no-repeat;
        .banner-text {
            line-height: 150%;
        }
    }
    .upgrade-text {
        font-size: 0.7em;
    }
}
