[% UNLESS is_pjax_request %]
  [% INCLUDE global/head.html.tt %]
[% END %]

[% INCLUDE global/body_top.html.tt %]

[% content %]

[% UNLESS is_pjax_request %]
  [% INCLUDE global/footer.html.tt %]
[% END %]
