#footer {
    #footer-menu {
        padding: 10px 0;
        h4 {
            font-size: 13px;
            font-weight: bold;
        }
        a {
            font-size: 13px;
            font-weight: normal;
            color: $COLOR_WHITE;
        }
        li {
            line-height: 1;
        }
    }
    #footer-regulatory {
        #regulatory-text {
            line-height: 1.2em;
            text-align: justify;
            color: $COLOR_WHITE;
            font-size: 10px;
        }
        #ratelimit-error-message {
            display: none;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $COLOR_YELLOW;
            z-index: 999;
            text-align: center;
            .message {
                margin: 12px;
                font-style: italic;
                color: $COLOR_RED;
                a {
                    color: $COLOR_GREEN;
                }
            }
        }
    }
    #footer-last {
        .copy-right {
            margin: 0;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            color: $COLOR_WHITE;
            line-height: 110%;
        }
    }
}
